<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="iControl.Properties.Settings.iControlConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\iControl.accdb"
            providerName="System.Data.OleDb" />
        <add name="iControl.Properties.Settings.iControlConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\iControl.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>

<!--The database path needs to be modifies here and when inside each form when you open a connection-->
<!--Andrew database path: D:\Andrew School\Dropbox\COMP1098-.NetC#\Project\iControl\database\iControl.accdb-->
<!--Marcos database path: C:\Users\goisb\Documents\GitHub\iControl\database\iControl.accdb-->